/*
	This is a basic stylesheet for the django-postman application.
	Called from templates/postman/base.html.
	Make your own design in <settings.STATIC_ROOT>/postman/css/postman.css
*/
.pm_message.pm_deleted {
 text-decoration: line-through;
}
.pm_message.pm_deleted .pm_body{
 display: none;
}
.pm_message.pm_archived {
 font-style: italic;
 color: grey;
}
.pm_message.pm_unread .pm_subject {
 font-weight: bolder;
}
.pm_message.pm_pending .pm_header {
 background-color: #FFC;
}
.pm_message.pm_rejected .pm_header {
 background-color: #FDD;
}

.pm_body {
    /*border: 2px solid red;*/
    border-radius: 12px;
    padding: 5px;
    /*background-color: #FFB388;*/
    background-color: rgba(255,179,136,.3);
}

.conversation_box{
max-height: 30em;
min-height: 20em;
overflow-y:scroll;
overflow-x:hidden;
padding: 3px;
margin-bottom: 5px;
border: solid;
border-color: #F35A05;
border-radius: 10px;
border-width: 2px;

}

.container-reduced-top-padding{
padding-top: 20px!important;
}

.pm_header{
color: #bec2c9;
}

.message_from_user{
background-color: rgba(136,212,255,.3);
}