{% extends 'disclifts/base.html' %}

{% block title %}Edit Event ¦{% endblock title %}

{% block content %}
<div class="container container-reduced-top-padding">
    <h2> {{ page_title }} <a role="button" class="btn btn-danger" href="{% url 'posts:delete_event' event_inst.id %}"
                             onclick="return confirm('Are you sure you want to delete this event?');">Delete event </a>
    </h2>
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="POST">
                {% csrf_token %}
                <table class="table table-hover">
                    {{ edit_event_form.as_table }}
                </table>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
